name: 'Continuous Delivery'

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v1

      - name: Build and push Docker image
        run: |
          gcloud builds submit --tag gcr.io/${{ secrets.GCP_PROJECT_ID }}/latam-challenge

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy latam-challenge \
            --image gcr.io/${{ secrets.GCP_PROJECT_ID }}/latam-challenge \
            --region us-central1 \
            --port 8080 \
            --allow-unauthenticated
